################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.idea
/.vs
/dd_query/__pycache__
/dd_query/cache
/venv
/__pycache__
/dd_query/cache/cache.ini
/dd_query/cache/vtb_data_simple.json
/output/
